body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

#chatCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chat-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
}

.chat-card:hover {
    background-color: #e9e9e9;
}

#chatDialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    background-color: #fff;
    display: flex;
}

#messagesContainer {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.message {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 3px;
    color: red;
}
